.login-button {
    position: fixed;
    top: 20px;
    right: 20px;
}

/* style_index.css */

/* Réinitialisation des marges et des rembourrages pour assurer une cohérence */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Utilisation de la police Arial */
}

/* Ajout d'un espace entre le texte et le côté gauche de la page */
body {
    padding-left: 20px;
    margin-bottom: 30px;
}


h1 {
    text-align: center;
    margin-top: 30px;
}
/* En-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Pied de page */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Photo de profil ronde */
img {
    border-radius: 50%;
    display: block; /* Pour éviter l'espace supplémentaire sous l'image */
    margin: 0 auto;
    margin-top: 20px;
}

/* Séparations nettes entre les titres de niveau 2 */
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    text-align: center;
}

/* Liens */
a {
    color: #007bff; /* Bleu par défaut des liens */
    text-decoration: none; /* Suppression du soulignement par défaut */
}

a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

/* Boutons */
.button, .login-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover, .login-button:hover {
    background-color: #0056b3;
}

/* Boutons du conteneur */
.buttons-container {
    text-align: center;
}

/* Liste */
ul {
    list-style-type: none; /* Suppression des puces par défaut */
    padding-left: 20px;
    text-align: center;
}

/* Marges inférieures pour les éléments de liste */
li {
    margin-bottom: 5px;
    text-align: center;
}
